@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

input {
  color: var(--GLOBAL_TEXT_COLOR_LIGHTEST);
  min-height: 2.5rem;
  font-size: 1rem;
  padding: var(--inputPadding, 10px);
  font-weight: var(--inputFontWeight, 400);
  text-align: var(--inputTextAlign, left);
  color: var(--inputColor, var(--GLOBAL_TEXT_COLOR));
  background: var(--inputBackground, var(--GLOBAL_BACKGROUND));
  border: var(--inputBorder, var(--GLOBAL_BORDER_DEFAULT));
  border-radius: var(--inputBorderRadius, var(--GLOBAL_BORDER_RADIUS_DEFAULT));
  box-shadow: var(--inputBoxShadow, var(--boxShadow200));
}

input:focus {
  border: var(--inputBorderActive, var(--GLOBAL_BORDER_ACTIVE));
  color: var(--inputColorActive, var(--GLOBAL_ACCENT_COLOR));
  outline: 0;
}

input::placeholder {
  color: var(--inputColor, var(--GLOBAL_TEXT_COLOR));
}

button.number {
  font-size: 2rem;
  line-height: 2rem;

  width: 50px;
  height: 50px;
  margin: 0;
}

button.reveal {
  background: var(--buttonBackgroundReveal);
  border: var(--buttonBorderReveal);
  color: var(--buttonColorReveal);
}

button.remove {
  background: var(--buttonBackgroundRemove);
  border: var(--buttonBorderRemove);
  color: var(--buttonColorRemove);
}

.chart-container {
  max-width: 300px;
}
