@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  box-sizing: border-box;
}

body {
  background: #eee;
  color: #2c3e50;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#app {
  margin-top: 60px;
}

.hint {
  font-size: 0.8rem;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  div {
    flex: 1;
    margin: 1rem;
  }

  .number {
    flex: 0 1 auto;
  }
}


.controls {
  text-align: left;
}

div.user {
  flex: 0 1 auto;
  font-size: 4rem;
  color: #999;
  position: relative;

  .role-icon {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    height: 2.2rem;


    .fa-crown.shadow {
      display: none;
      background-color: #aaa;
      color: transparent;
      cursor: pointer;
      text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
    }
    &:hover {
      .fa-crown.shadow {
        display: inline;
      }
    }
  }

  .name {
    font-size: 2rem;
    line-height: 2rem;
    min-height: 2rem;
    margin: 0;
  }

  .estimation {
    font-size: 2.5rem;
    height: 3rem;
    line-height: 3rem;
    min-width: 3rem;
    padding: 0 10px;
    display: inline-block;

    border-radius: 15px;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  }
}

.btn {
  text-decoration: none;
}

a.btn {
  color: #aaa;
}

.btn,
button,
input {
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;

  border-radius: 15px;
  color: #999;

  font-size: 1rem;
  font-weight: 700;
  padding: 10px;

  margin-bottom: 1.5rem;

  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.8);
}

input {
  color: #999;
  min-height: 2.5rem;

  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
  inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

input:focus {
  color: #4b98bf;
}

.btn:hover,
button:hover {
  color: #5ab9ea;
}

input:focus,
button:focus,
btn:focus {
  outline: 0;
}

button:active,
button.active,
btn:active,
btn.active {
  color: #4b98bf;

  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

button.number {
  font-size: 2rem;
  line-height: 2rem;

  width: 50px;
  height: 50px;
  margin: 0;
}

.chart-container {
  max-width: 300px;
}
